@import "../../global.scss";

.softwaredev{
	background-color: $backgroundColor;
	background-image: repeating-radial-gradient(rgba(205, 205, 232, 0.2), rgba(144, 144, 183, 0.2),#1c2619 102%);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: -10%;
	height: 100%;

	h1{
		justify-self: center;
		font-size: min(6vw, 40px);
		color: $mainColor;
	}

	.container{
		display: flex;
		margin-top: 50px;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;   
		margin-left: $sidebarWidth;
		overflow-x: hidden;
		max-width: 1200px;
		

		.item {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 5px;
			justify-items: center;
			max-width: 1500px;
			width: 50%;
			// height: 95%;
			transition: all 1s ease;	

			.left{
				display: flex;
				justify-content: center;
				max-height: 1000px;
				width: auto;
				float: left;

				img{
					object-fit: contain;
					border-radius: 15px;
					max-width: 250px;
					// width: 100%;

				&:hover 
					{
						background-color: $mainColor;
					}
                }
			}
			.right{
				align-items: center;
				justify-content: center;
				max-width: 900px;
				width: 100%;	
				max-height: 100%;		
				margin: 10px;
				float: right;
				overflow: hidden;

				
				h2{
					width: 100%;
					margin: 1px;
					color: white;
					font-size: min(2vw, 13px);
				}
				h3{	
					display:block;
					word-wrap: break-word;
					width: 100%;
					margin: 1px;
					color: white;
					font-size: min(3.7vw, 23px);
				}
				p{
					display:block;
					word-wrap: break-word;
					width: 80%;
					color: gray;
					white-space: pre-line;
					font-size: min(2vw, 21px);
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.softwaredev {
		.container {
			.item {
				margin-left: $mobileSidebarWidth;
				width: 80%;
				grid-template-columns: 1fr;
			}
		}     
	}
}
