@import "../../../../global.scss";
.quickquisine{
    width: 100%;
    height: 100%;

    background-color: $backgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: $mainColor;
        font-size: 20px;
    }
}