@import "../../global.scss";

.topbar{
    height: 80px;
    width: 100%;
    background-color: black;
    color: $mainColor;
    position: relative;
    top: 0;
    z-index: 3;
    display: flex;
    transition: all 1s ease;
    border: 2px red;

    .logo {
    font-size: 25px;
    font-style: bold;
    text-decoration: none;
    color: inherit;
    margin-right: 40px;
    }    

    h1{
        font-size: 20px;
    }

    .wrapper{
        margin: 0 auto;
        padding-left: calc(100% - $width);
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul{
            margin: 10px;
            padding: 0;
            list-style: none;
            display: flex;
            
        }
    }
}