@import "../../global.scss";

.topbar{
    max-width: 100%;
    height: auto;
    background-color: $barColor;
    color: $mainColor;
    position: relative;
    top: 0;
    display: grid;
    justify-items: center;
    overflow: hidden;
    
    .logo_container{
        display: flex;
        align-self: center;
        justify-content: flex;
        overflow: hidden;

        .logo {
            top: 0;
            font-size: min(10vw, 40px);
            text-decoration: none;
            color: peru; 
        }
    }

    a{
        display: grid;
        align-self: center;
        justify-items: center;
        font-size: min(3.5vw, 15px);
        color: lightblue;
        text-decoration: none;
        text-overflow: ellipsis;
    }

    .wrapper{
        max-width: 1500px;
        align-items: row;
        justify-content: center;

        ul{
            min-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding: 0;
            list-style: none;
        }
    }
    .mobilewrapper{
        display: none;
        justify-items: center;

        ul{
            justify-content: center;
        }
    }        
}
@media (max-width: 768px) {
    .topbar {
        .wrapper{
            display: none;
        }
        .mobilewrapper{
            display: flex;
        }
    }
}