@import "../../global.scss";

.topbar{
    height: 200px;
    max-width: 100%;
    background-color: black;
    color: $mainColor;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: 2px red;
    overflow: hidden;
    margin-top: 40px;


        img{
            display: flex;
            align-self: center;
            justify-items: center;
            max-width: 64px;
            max-height: 64px;
        }    
    
    .logo_container{
        display: flex;
        align-self: center;
        justify-content: flex;
        overflow: hidden;

        .logo {
            top: 0;
            font-size: 35px;
            text-decoration: none;
            color: peru;

            &:hover{
                
            }       
        }
    }

    a{
        display: flex;
        align-self: center;
        justify-items: center;
        font-size: 15px;
        color: lightblue;
        text-decoration: none;
    }

    .wrapper{
        margin-top: 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;

        ul{
            margin: 10px;
            padding: 0;
            list-style: none;
            display: flex;            
        }
    }
}