@import "../../global.scss";
.about{
	display: flex;
	align-self: center;
	justify-content: center;
	background-color: $backgroundColor;
	background-image: repeating-radial-gradient(rgba(205, 205, 232, 0.2), rgba(144, 144, 183, 0.2),#1c2619 102%);

	max-width: 100%;
	height: 100%;
	white-space: pre-line;
	margin-left: 10%;

	a{
		text-decoration: none;
		color: $mainColor;
		&:hover{
			filter: opacity(50%);
		}
	}

	.container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2px;
		max-width: 600px;
		width: 100%;
		// margin: 0 auto;


		.left{
			flex-direction: flex-end;
			max-width: 550px;
			margin-top: 20px;
			object-fit:contain;

				img{    
					float: right;
					max-width: 500px;
					width: 90%;
					margin-right: 10px;
				}

				h1{
					width: 50%;
					height: 35%;
					font-size: clamp(10px, 1px + 1vw, 21px);
					color: $mainColor;
					font-weight: 400;
				}
			}
		.right{
			max-width: 700px;
			width: 100%;
			justify-content:center;
			object-fit:scale-down;
			margin-top: 20px;

				h1{
					font-size: min(3.0vw, 16px);
					color: $mainColor;
					font-weight: 400;
				}
				
				img{
					max-width:50px;
					margin: 5px;
					object-fit: scale-down;
					filter: invert(100%);
					&:hover{
						filter: invert(50%);
					}
				}

				.button-container{
					max-width: 227px;
					width: 50%;
					height: 30%;
					margin: 20px 40px;
					justify-items: center;

					button{
						border: 3px dotted gold;
						background: $backgroundColor;
						border-radius: 0;
						display: flex;
						justify-content: center;
						flex-direction: row;
						align-items: center;
						max-height: 100%;
						max-width: 100%;
						a{
							color: $mainColor;
							text-decoration: none;
						}

						img{
							max-width: 25px;
							width: 25%;							
						}

						&:hover {
							border: 2px dotted black;
							// background-color: yellow;
							color: black;
						}

						&:disabled {
							cursor: default;
							opacity: 0.7; 
						}
					}
				}        
			}
		}
}
@media (max-width: 768px) {
	.about{
		max-width: 70%;
		.container{
			width: 70%;
			grid-template-columns: 1fr;
			margin-left: 25%;
			.left{
				max-width: 60%;
				align-content: center;
			}
			.right{
				width: 75%;
				align-content: center;
			}


		}

	}
}