@import "../../global.scss";

.portfolioList{
    font-size: 16px;
    margin-right: relative;
    padding: 7px;
    cursor: pointer;

    .logo {
        font-size: 20px;
        font-style: bold;
        font-weight: 500;
        text-decoration: none;
        color: white;
        margin-right: 40px;

        &:hover{
            font-size: 29px;
            font-weight: 800;
        }
    }
    

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        // @include mobile{
        //   display: none;
        // }

        .icon {
          font-size: 18px;
          margin-right: 5px;
        }

        span {
          font-size: 15px;
          font-weight: 500;
        }
    }
}