@import "../../global.scss";

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    left: 0;
    bottom: 0;
    width: 100%;

    // @import mobile{

    // }
  }