@import "../../global.scss";

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    a{
      font-size: 20px;
      text-decoration: none;
      color: white;
      &:hover{
        color: yellow;
      }
    }
    p{
      color: white;
      font-size: 20px;
    }


    ul{
      li{
        img{

        }
      }
    }
  }