$mainColor: white;
$backgroundColor: #171a1d;
$barColor: #2e3032;
$containerBackgroundColor: #0c0c0d;
$maxwidth: 768px;
$sidebarWidth: 250px;
$mobileSidebarWidth: 150px;

@mixin mobile {
    @media (max-width: #{$maxwidth}){
        @content
    }
}