@import "./global.scss";

.routeswitch{
    height: 100vh;
    background-color: $backgroundColor;
    scrollbar-width: none; //for firefox

    &::-webkit-scrollbar{
        display: none;
    }

    @include mobile{
        width: 30%vw;
        height: 20%vh;
      }


}