@import "./global.scss";

.routeswitch{
    height: 100vh;
    width: calc(300px + 85vw);
    background-color: $backgroundColor;
    scrollbar-width: none; //for firefox

    &::-webkit-scrollbar{
        display: none;
    }
}