@import "../../global.scss";

.topbarMenu{
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;

    .link {
        z-index: 3;
        text-decoration: none;
        color: white;
        font-size: 20px;
        border-top: 2px solid red,var(--alpha-brd,1);

        &:hover{

            // font-size: 20px;
            color: gold;
            // font-weight: 800;
            border-bottom: 2px gold;
        }
      }
}