@import "../../global.scss";

.topbarMenu{
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;

    .bordercontainer{
        border-top: 1px solid gray;
        overflow: hidden;
        min-width: 5rem;
        // min-height: 2vh;
        margin: 6px;
        text-overflow:ellipsis;
        white-space:nowrap;

        .link {
            display: block;
            min-width: 5vw;
            margin-top: 0.5rem;
            text-decoration: none;
            color: white;
            font-size: clamp(1rem, 0.1rem + 1vw, 10rem);
            

            &:hover{
                color: orange;
                border-bottom: 2px orange;
            }
        }
        &:hover{
            border-top: 3.5px solid skyblue;

        }
    }
}