@import "../../global.scss";

.topbarMenu{
    padding: 10px;
    cursor: pointer;
    transition: all 1s ease;

    .bordercontainer{
        border-top: 1px solid gray;
        overflow: hidden;
        min-width: 100px;
        // width: 50%;
        text-overflow:ellipsis;
        white-space:nowrap;

        .link {
            display: grid;
            // max-width: max(50%, 5rem);
            text-decoration: none;
            color: white;
            font-size: min(4vw, 19px);   
            min-width: 5vw;

            &:hover{
                color: orange;
                border-top: 3.5px solid skyblue;
            }
        }
    }
}