@import "../../global.scss";

.gamedev{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-decoration: none;

    h1{
        font-size: 40px;
        color: white;
    }

    .container{
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;   
        margin: 10px;

        @include mobile{
            width: 30%;
          }

        .item {
            display: inline;
            margin: 10px;
            width: 80%;
            border-radius: 20px;
            border: 1px solid rgb(240, 239, 239);
            cursor: pointer;

            img{
                width: 50%;
                object-fit: cover;
                border: 3px solid red;

                &:hover {
                    background-color: $mainColor;
                    transition:opacity 5s;
                    }
                }
            h2{
                position: relative;
                font-size: 20px;
                border: 3px solid red;

            }

        }

    }        
}