@import "../../global.scss";

.gamedev{
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	h1{
		font-size: clamp(20px, 2px + 10vw, 40px);
		color: white;
	}

	.container{
		display: block;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;   
		margin-top: 10px;
		overflow: hidden;

		.item {
			margin: 0 auto;
			max-width: 1500px;
			border-bottom: 2px solid gray;
			align-items: center;

			.left{
				float: left;
				display: block;
				justify-content:flex-start;
				margin: 10px;

				img{
					border-radius: 15px;
					max-width: 500px;
					object-fit:inherit;

				&:hover 
					{
						background-color: $mainColor;
					}
				 }
			}
			.right{
				float: left;
				margin: 20px;
				align-items: center;
				max-width: 60%;
				
				
				h2{
					word-wrap: break-word;
					display:block;
					width: 100%;
					margin: 1px;
					color: white;     
					font-size: clamp(1rem, 0.1em + 1vw, 10rem);
				}
				h3{	
					display:block;
					word-wrap: break-word;
					width: 100%;
					margin: 1px;
					color: white;
					font-size: clamp(1.5rem, 1rem + 1vw, 19rem);
				}
				p{
					display:block;
					word-wrap: break-word;

					width: 80%;
					color: gray;          
					white-space: pre-line;
					font-size: 23px;
				}
			}
		}
	}        
}